:root {
    
    --bg-color: rgb(196, 252, 223);
    --card-bg: rgb(240, 240, 240);
    --button-submit_bg: rgb(62, 207, 212);
    --button--hovered__bg: rgba(45, 140, 143, 55);

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

body {

    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    height: 100vh;          

}

.container {

    background-color: var(--card-bg);
    border-radius: 10px;
    padding: 45px;
    box-shadow: 2px 3px 10px blueviolet;             

}

h1 {

    text-align: center;        

}

.container > form {

    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    padding: 20px; 

}

label {

    margin-top: 10px;
    font-weight: bold; 
    color: black;       

}

form div input, form div select, form div textarea{
    width: 100%;
    border-color: none;
}

button[type=submit] {

    background-color: var(--button-submit_bg);
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    height: 3rem; 

}


button[type=submit]:hover {

    background-color: var(--button--hovered__bg);
    cursor: pointer;  

}

.form-group {

    margin-bottom: 15px;  

}
